{% extends "groups/group_base.html" %}

{% block pregroup %}
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">{{group.name}}</h1>
    <p class="lead"> &emsp; {{group.description}}</p>
    <hr class=mt-5>
    <div>
      <button type="button" class="btn btn-secondary" data-toggle="modal"
        data-target="#MemberList">Members <span class="badge badge-light">
        {{group.members.count}} </span>
      </button> &emsp;
      Join Code <span class="badge badge-secondary"> #{{group.slug}} </span>
      Creator <span class="badge badge-secondary">{{group.creator}}</span>
      Updated <span class="badge badge-secondary">{{group.creation_date}}</span>
    </div>


    <div class="content mt-4">
      <div class="row">
      <div class="col">
    	{% if user in group.members.all %}
    		<a href="{% url 'groups:leave' slug=group.slug %}" class="btn btn-lg btn-warning"><span class="fa fa-sign-out"></span> Leave</a>
    	{% else %}
    		<a href="{% url 'groups:join' slug=group.slug %}" class="btn btn-lg btn-success"><span class="fa fa-sign-in"></span> Join</a>
    	{% endif %}
    </div>

      {% if user == group.creator %}
        <div class="col float-right">
            <a href="{% url 'groups:delete' slug=group.slug %}" class=" btn btn-lg btn-outline-danger my-1"><span class="fa fa-trash"></span> Delete Group</a>
            <a href="{% url 'groups:posts:create' slug=view.kwargs.slug %}" class="mx-2  btn btn-lg btn-outline-success my-1"><span class="fa fa-plus"></span> Add a Post</a>
        </div>
      {% endif %}
    </div>
    </div>
  </div>


  {% include "groups/_group_members_modal.html" with group=group%}

{% endblock %}

{% block group_content %}
  <div class= "container">
  {% for post in group.posts.all %}
  {% if user in group.members.all %}
  <div class="my-1">
    <a href="{% url 'groups:posts:single' pk=post.pk slug=group.slug %}" class="list-group-item list-group-item-action flex-column align-items-start">
      <h2 class="mb-2">{{ post.name }}</h2>
      <p class="mt-2"> {{ post.description}} </p>
      <div class="d-flex justify-content-start w-40 ">
        <span class="text-muted"> Due On <span class="badge badge-secondary">{{ post.due_date }}</span></span>
        &nbsp;
        <span class="text-muted ml-3"> Assigned On <span class="badge badge-secondary">{{ post.creation_date }}</span></span>
      </div>
    </a>
  </div>
  {% endif %}
  {% endfor %}
  </div>
{% endblock %}
