argon2-cffi==19.2.0
asgiref==3.2.3
bcrypt==3.1.7
beautifulsoup4==4.8.2
bleach==3.1.0
bootstrap4==0.1.0
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
Django==3.0.3
django-bleach==0.6.1
django-bootstrap4==1.1.1
django-braces==1.13.0
django-clear-cache==0.3
django-debug-toolbar==2.1
django-html-sanitizer==0.1.5
django-parler==2.0
django-six==1.0.4
djangorestframework==3.11.0
get==2019.4.13
idna==2.8
misaka==2.1.1
Pillow==6.2.1
post==2019.4.13
promise==2.2.1
public==2019.4.13
pycparser==2.19
pystache==0.5.4
pytz==2019.3
query-string==2019.4.13
request==2019.4.13
requests==2.22.0
six==1.13.0
soupsieve==1.9.5
sqlparse==0.3.0
urllib3==1.25.7
webencodings==0.5.1
