!-- The first card -->
<div class="card">
    <div class="card-header" id="headingOne">
        <h5 class="mb-0 d-inline">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              More Information
            </button>
         </h5>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body" id="child1">
            <div class="card">
                <div class="card-header">
                    <a href="#" data-toggle="collapse" data-target="#collapseOneA">Child A</a>
                </div>
                <div class="card-body collapse" data-parent="#child1" id="collapseOneA">
                    Crunch wolf moon tempor, sunt aliqua put a bird.
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a href="#" data-toggle="collapse" data-target="#collapseOneB">Child B</a>
                </div>
                <div class="card-body collapse" data-parent="#child1" id="collapseOneB">
                    Another flipp runch wolf moon tempor, sunt aliqua put a bird.
                </div>
            </div>
        </div>
    </div>
</div>
