<!-- Drop Down for the users in the group -->
<div class="modal fade" id="MemberList" tabindex="-1" role="dialog" aria-labelledby="MemberList" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Member List</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <ol>
        <!-- Loops through all the members the post is assigned to and shows wether or not they have completed it -->
        {% for member in post.post_asignees.all %}
          <!-- Shows the username and actual name of the asignees -->
          <li> {{member.user.username}} &emsp; ({{member.user.first_name}} {{member.user.last_name}}) <br> </li>
          <!-- shows wether or no work is completd, if completed shows date of completion -->
          {% if member.has_completed_work %}
            <p class="text-success"> Completed on {{member.completion_date}}</p>
          {% else %}
            <p class="text-danger"> Incomplete </p>
          {% endif %}
          {% include "posts/_nested_acordian.html"%}
          <div class=container>
            <h5>Single Clicks</h5>
            {% include "posts/_user_interaction_data.html" with info=member.post_info method=1%}
          </div>
          <div class=container>
            <h5>Double Clicks</h5>
            {% include "posts/_user_interaction_data.html" with info=member.post_info method=2%}
          </div>
        {% endfor %}
      </ol>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
