{% load static %}
{% load bleach_tags %}
{% include "posts/_post_members_modal.html" with post=post%}

<div class="container">
<div class="jumbotron">
  <h1 class="display-4">{{post.name}}</h1>
  <p class="lead"> &emsp; {{post.description}}</p>
  <hr class=mt-5>
  <div class="row">
    Creator <span class="badge badge-secondary mr-2">{{post.creator}}</span>
    Assigned <span class="badge badge-secondary mr-2">{{post.creation_date}}</span>
		Due On <span class="badge badge-secondary ">{{post.due_date}}</span>
  </div>
  {% if user == post.creator %}
    <div class="row mt-4">
      <div class="col-6">
          <button type="button" class="btn btn-lg btn-outline-primary" data-toggle="modal" data-target="#MemberList">
            <i class="fa fa-eject"></i> Members
          </button>
      </div>
      <div class="col-6">
          <a href="{% url 'groups:posts:update' slug=view.kwargs.slug pk=view.kwargs.pk %}" class=" btn btn-lg btn-outline-warning my-1"><span class="fa fa-edit"></span> Update Post</a>
          <a href="{% url 'groups:posts:delete' slug=view.kwargs.slug pk=view.kwargs.pk %}" class=" btn btn-lg btn-outline-danger my-1"><span class="fa fa-trash"></span> Delete Post</a>
      </div>
  </div>
  {% endif %}
</div>

<div class="mx-4" id="post_body_text_base">
  {{ post.body_text|bleach_linkify|bleach}}
</div>
</div>
