<!-- Drop Down for the users in the group -->
<div class="modal fade" id="MemberList" tabindex="-1" role="dialog" aria-labelledby="MemberList" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Interaction Info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="mx-4 my-1">
      <ol>
        {% if user == post.creator %}
        <!-- Shows all of the members the post is assigned to and shows wether or not they have completed it -->
        {% for member in post.post_asignees.all %}
        <div class="my-1">
          <!-- This is the part that is always visible -->
          <div id="heading{{member.id}}">

            <a class="hover-darken no-border card collapsed px-1" data-toggle="collapse" data-target="#collapse{{member.id}}" aria-expanded="true" aria-controls="collapse{{member.id}}">

            <!-- Shows the username and actual name of the asignees -->
            <li> {{member.user.username}} &emsp; ({{member.user.first_name}} {{member.user.last_name}}) <br> </li>
            <!-- shows wether or no work is completd, if completed shows date of completion -->
            {% if member.has_completed_work %}
              <p class="text-success"> Completed on {{member.completion_date}}</p>
            {% else %}
              <p class="text-danger"> Incomplete </p>
            {% endif %}
            </a>
          </div>
          <!-- this is what is shown their name is clicked -->
          <div id="collapse{{member.id}}" class="collapse" aria-labelledby="heading{{member.id}}" data-parent="#accordion">
              <!-- specific tables for each user, should be hiddin under a collapsable-->
              <div class="container" id="heading{{member.id}}A">
              <!-- header for table single clicks-->
              <div class="hover-darken no-border card px-1 w-50" >
                <a data-toggle="collapse" data-target="#collapse{{member.id}}A"><h5 class="font-weight-light">Single Clicks (Synonyms)</h5></a>
              </div>
              <!-- data revealed by header single -->
              <div class="card collapse no-border"  id="collapse{{member.id}}A">
              {% include "posts/_user_interaction_data.html" with info=member.post_info method=1%}
              </div>
            </div>

            <div class="container" id="heading{{member.id}}B">
              <!-- header for tabe double clicks -->
              <div class="hover-darken no-border card px-1 w-50" >
                <a  data-toggle="collapse" data-target="#collapse{{member.id}}B"><h5 class="font-weight-light">Double Clicks (Definitions)</h5></a>
              </div>
              <!-- Data revealed by header double clicks -->
              <div class="card collapse px-1 no-border"  id="collapse{{member.id}}B">
              {% include "posts/_user_interaction_data.html" with info=member.post_info method=2%}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}


        {% else %}
          <!-- Gets the one user's info if they are in the post members -->
          {% for member in post.post_asignees.all %}
            {% if member.user == user %}
            <!-- specific tables for each user, should be hiddin under a collapsable-->
            <div class="container" id="heading{{member.id}}A">
            <!-- header for table single clicks-->
            <div class="hover-darken no-border card px-1 w-50" >
              <a data-toggle="collapse" data-target="#collapse{{member.id}}A"><h5 class="font-weight-light">Single Clicks</h5></a>
            </div>
            <!-- data revealed by header single -->
            <div class="card collapse no-border show"  id="collapse{{member.id}}A">
            {% include "posts/_user_interaction_data.html" with info=member.post_info method=1%}
            </div>
          </div>


          <div class="container" id="heading{{member.id}}B">
            <!-- header for tabe double clicks -->
            <div class="hover-darken no-border card px-1 w-50" >
              <a  data-toggle="collapse" data-target="#collapse{{member.id}}B"><h5 class="font-weight-light">Double Clicks</h5></a>
            </div>
            <!-- Data revealed by header double clicks -->
            <div class="card collapse px-1 no-border show"  id="collapse{{member.id}}B">
            {% include "posts/_user_interaction_data.html" with info=member.post_info method=2%}
            </div>
          </div>
            {% endif %}
          {% endfor %}
        {% endif %}

      </ol>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
