<!-- Drop Down for the users in the group -->
<div class="modal fade" id="MemberList" tabindex="-1" role="dialog" aria-labelledby="MemberList" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Interaction Info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="mx-4 my-1">
      <ol>
        {% if user == post.creator %}
        <!-- Shows all of the members the post is assigned to and shows wether or not they have completed it -->
        {% for member in post.post_asignees.all %}
        <div class="my-1">
          <!-- This is the part that is always visible -->
          <div id="heading{{member.id}}">

            <a class="hover-darken no-border card collapsed px-1" data-toggle="collapse" data-target="#collapse{{member.id}}" aria-expanded="true" aria-controls="collapse{{member.id}}">

            {% comment %}  Shows the username and actual name of the asignees {% endcomment %}
            <li> {{member.user.username}} &emsp; ({{member.user.first_name}} {{member.user.last_name}}) <br> </li>
            {% comment %} shows wether or no work is completd, if completed shows date of completion {% endcomment %}
            {% if member.has_completed_work %}
              {% comment %} If the completion date is past the due date then show text as red {% endcomment %}
              {% if member.completion_date > member.post.due_date %}
                  <p class="text-danger">
              {% else %}
                <p class="text-success">
              {% endif %}
               Completed on {{member.completion_date}}</p>
            {% else %}
              <p class="text-danger"> Incomplete </p>
            {% endif %}

            </a>
          </div>
          <!-- this is what is shown their name is clicked -->
          <div id="collapse{{member.id}}" class="collapse" aria-labelledby="heading{{member.id}}" data-parent="#accordion">
              <!-- specific tables for each user, should be hiddin under a collapsable-->
              <div class="container" id="heading{{member.id}}A">
              <!-- header for table single clicks-->
              <div class="hover-darken no-border card px-1 w-50" >
                <a data-toggle="collapse" data-target="#collapse{{member.id}}A"><h5 class="font-weight-light">Single Clicks (Synonyms)</h5></a>
              </div>
              <!-- data revealed by header single -->
              <div class="card collapse no-border"  id="collapse{{member.id}}A">
              {% include "posts/_user_interaction_data.html" with info=member.post_info method=1%}
              </div>
            </div>

            <div class="container" id="heading{{member.id}}B">
              <!-- header for tabe double clicks -->
              <div class="hover-darken no-border card px-1 w-50" >
                <a  data-toggle="collapse" data-target="#collapse{{member.id}}B"><h5 class="font-weight-light">Double Clicks (Definitions)</h5></a>
              </div>
              <!-- Data revealed by header double clicks -->
              <div class="card collapse px-1 no-border"  id="collapse{{member.id}}B">
              {% include "posts/_user_interaction_data.html" with info=member.post_info method=2%}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

        <hr class="my-4">
        <!-- collective information -->
        <div class="container" id="heading-collective">
          <!-- Header for Collective information -->
          <div class="hover-darken no-border card px-1 w-50" >
            <a data-toggle="collapse" data-target="#collapse-collective"><h5>Collective Information</h5></a>
          </div>

          <!-- Data revealed by header collective-->
          <div class="card collapse px-1 no-border"  id="collapse-collective">
            <div class="container" id="heading-collective-1">
              <!-- header for table single clicks -->
              <div class="hover-darken no-border card px-1 w-50" >
                <a  data-toggle="collapse" data-target="#collapse-collective-1"><h5 class="font-weight-light">Collective Single Clicks (Synonyms)</h5></a>
              </div>
              <!-- Data revealed by header single clicks -->
              <div class="card collapse px-1 no-border"  id="collapse-collective-1">
                {% include "posts/_collective_interaction_data.html" with post=post method=1%}
              </div>
            </div>
          
            <div class="container" id="heading-collective-2">
              <!-- header for table double clicks -->
              <div class="hover-darken no-border card px-1 w-50" >
                <a data-toggle="collapse" data-target="#collapse-collective-2"><h5 class="font-weight-light">Collective Double Clicks (Translations)</h5></a>
              </div>
              <!-- Data revealed by header double clicks -->
              <div class="card collapse px-1 no-border"  id="collapse-collective-2">
                {% include "posts/_collective_interaction_data.html" with post=post method=2%}
              </div>
            </div>
          </div>
        </div>


        {% comment %} Else if the user is not the creator {% endcomment %}
        {% else %} 
          <!-- Gets the one user's info if they are in the post members -->
          {% for member in post.post_asignees.all %}
            {% if member.user == user %}
            <!-- specific tables for each user, should be hiddin under a collapsable-->
            <div class="container" id="heading{{member.id}}A">
            <!-- header for table single clicks-->
            <div class="hover-darken no-border card px-1 w-50" >
              <a data-toggle="collapse" data-target="#collapse{{member.id}}A"><h5 class="font-weight-light">Single Clicks</h5></a>
            </div>
            <!-- data revealed by header single -->
            <div class="card collapse no-border show"  id="collapse{{member.id}}A">
            {% include "posts/_user_interaction_data.html" with info=member.post_info method=1%}
            </div>
          </div>


          <div class="container" id="heading{{member.id}}B">
            <!-- header for tabe double clicks -->
            <div class="hover-darken no-border card px-1 w-50" >
              <a  data-toggle="collapse" data-target="#collapse{{member.id}}B"><h5 class="font-weight-light">Double Clicks</h5></a>
            </div>
            <!-- Data revealed by header double clicks -->
            <div class="card collapse px-1 no-border show"  id="collapse{{member.id}}B">
            {% include "posts/_user_interaction_data.html" with info=member.post_info method=2%}
            </div>
          </div>
            {% endif %}
          {% endfor %}
        {% endif %}

      </ol>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>



<!--  This table filling script must be here to prevent template tagging from messing up the ordering
-->
<script>
var m = 1;
function fillTable(data){
  
  var count = 0;
	for (var i = 1; (i-1) < Object.keys(data)[Object.keys(data).length-1]; i++)
	{
			// Skips emtpy rows
			try {
				if (data[i].length <= 0) { continue; }
				// Puts the data from the json into the table
				$( "#data-table-empty-body-cumulative-" + m ).append("<tr> <th scope=\"row\">" + i + "</th> <td>"+ data[i].join(", ") +"</td>  </tr>");
			} catch {}
      count ++;
	}
  // If there is no data (ie. the user has not clicked anything) then don't display the tables
  // and return that there was no data
  if (count == 0) {
    $("#data-table-cumulative-" + m).empty()
    $("#data-table-cumulative-" + m).append("<em class='text-warning'>No Data</em>");//"<tr> <th scope=1></th> <td><span class=\"warning\">No Click Data<span></td></tr>")
  }

  if (m < 2){
    m++;
    $.getJSON("/groups/{{post.group.slug}}/posts/{{post.id}}/member_info/" + m, addData);
  }
}

function addData(_data) {
  
  var dict = {"1":[]};
  // Loop through all of members
  for (member in _data) {
    // Loop through all of the click counts
    
    for (count in _data[member]) {
      // Loop words in each click count
      for (var i=0; i<_data[member][count].length; i++){
        dict = FindOrReplace(_data[member][count][i],count, dict);
      }
    }
  }
  fillTable(dict);
}

function FindOrReplace(_word, _count, _dict){
  
  // Loop through all of the click counts
  for (countF in _dict) {
    // Loop words in each click count
    for (var k=0; k<_dict[countF].length; k++){
      if (_word == _dict[countF][k]){
        _dict[countF].splice(k, 1);

        try {
          // If there already is a key then append to the array 
          _dict[(parseInt(countF)+parseInt(_count)).toString(10)].push(_word);
        } catch (err) {
          // If there is no key then assign array to that key
          _dict[(parseInt(countF)+parseInt(_count)).toString(10)] = [_word];
        }
        return _dict;
      }
    }
  }
  // If it made it all the way through the loop, then the pairing is not in the dict
  try {
    // If there already is a key just append to array
    _dict[_count].push(_word);
  } catch (err) {
    // If not key then make new array
    _dict[_count] = [_word];
  }
  return _dict;
}


$.getJSON("/groups/{{post.group.slug}}/posts/{{post.id}}/member_info/" + m, addData);
 

</script>
