{% extends "base.html" %}

{% block content %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

  function formatData(){

  }



  // "http://127.0.0.1:8000/groups/bofe-baser/posts/29/2/1/graph/"
  // "/groups/{{info.post_member.post.group.slug}}/posts/{{info.id}}/{{method}}"
  var count = 1;
  var combinedArray = [];

  $.getJSON("http://127.0.0.1:8000/groups/bofe-baser/posts/2/1", parseData);
  $.getJSON("http://127.0.0.1:8000/groups/bofe-baser/posts/2/2", parseData);
  function parseData(data){
    console.log(data);
    var dataArray = []
  	for (var i = 1; (i-1) < Object.keys(data)[Object.keys(data).length-1]; i++)
  	{
  			// If there is no info at that count, then skip
  			try {
  				dataArray[i-1] = data[i].length;
  			} catch {
          dataArray[i-1] = 0;
        }
  	}
    combinedArray.push(dataArray);
    if (combinedArray.length == 2){
      console.log(combinedArray);
      combineDatasets();
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);
    }
  }

  function combineDatasets(){
    var syn = combinedArray[0];
    var def = combinedArray[1];

    console.log(syn);
    console.log(def);
    var max = 0;
    if (Object.keys(syn)[Object.keys(syn).length-1] > Object.keys(def)[Object.keys(def).length-1]){
      max = Object.keys(syn)[Object.keys(syn).length-1]
    } else {
      max = Object.keys(def)[Object.keys(def).length-1]
    }
    console.log(max);

    var finalArray = [];
    for (var i=0; i<max; i++){
      var sVal = 0;
      var dVal = 0;
      if (console.log(def.hasOwnProperty(i))){
        sVal = syn[i];
      }
      if (console.log(syn.hasOwnProperty(i))){
        dVal = def[i];
      }
      finalArray.push([i+1, sVal, dVal]);
    }

    console.log(finalArray);
  }

  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Number of Times Clicked', 'Synomyns', 'Definitions'],
      ['1', 5, 3],
      ['2', 2,4],
      ['3', 5,6],
      ['4', 7,2],
    ]);

    var options = {
      chart: {
        title: 'Number of Words',
        subtitle: 'as a function of times clicked',
      },

      vAxis: { title: 'Number of Words Clicked' },

      };

    var chart = new google.charts.Bar(document.getElementById('columnchart_material'));
    chart.draw(data, google.charts.Bar.convertOptions(options));
  }

  $(window).resize(function(){
    drawChart1();
    drawChart2();
  });
</script>


<div id="columnchart_material" style="width: 800px; height: 500px;"></div>


{% endblock %}
