{% load static %}
<div class="container">
<div class="jumbotron">
  <h1 class="display-4">{{post.name}}</h1>
  <p class="lead"> &emsp; {{post.description}}</p>
  <hr class=mt-5>
  <div>
    Creator <span class="badge badge-secondary mr-2">{{post.creator}}</span>
    Assigned <span class="badge badge-secondary mr-2">{{post.creation_date}}</span>
		Due On <span class="badge badge-secondary ">{{post.due_date}}</span>
  </div>
</div>

<div class="mx-4">
<h3 class="display-5">  </h3>
	{{ post.body_text|safe}}
</div>
</div>


{# <script src="{% static 'NLPP/js/word_id.js'%}"></script> #}

<!--
<div class="media-footer">
	{% if user.is_authenticated and post.user == user and not hide_delete %}
		<a href="{% url 'posts:delete' pk=post.pk %}" title="delete" class="btn btn-simple">
			<span class="fa fa-remove text-danger" aria-hidden="true"></span>
			<span class="text-danger icon-label">Delete</span>
		</a>
	{% endif %}
</div>
#}
-->
