{% extends "posts/post_base.html" %}
{% block post_content %}
    {% include "posts/_post.html" %}


<!-- Modal -->
<div class="modal fade" id="translateModal" tabindex="-1" role="dialog" aria-labelledby="translateModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title h3" id="translateModalTitle">Word Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="api-filler" class="modal-body">
        Uh oh, Something Went Wrong!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      
        <button type="button" id="MoreInfo" class="btn btn-info" >More Info</button>
      </div>
    </div>
  </div>
</div>

<script>
function get_selection() {
    var txt = '';
    if (window.getSelection) {
        txt = window.getSelection();
    } else if (document.getSelection) {
        txt = document.getSelection();
    } else if (document.selection) {
        txt = document.selection.createRange().text;
    }

    return txt;
}

$(document).dblclick(function(e) {
    var t = get_selection().toString();
    t = t.trim();
    t = t.toLowerCase();
    var l = '{{post.from_lang.ISO639_1}}'
    synomyn_api_call(t, l);
  
    var t = get_selection().toString();
    t = t.trim();
    t = t.toLowerCase();
    var l = '{{post.from_lang.code}}' + "\-" + '{{post.to_lang.code}}';
    translate_api_call(t.toString(), l); 

    
});

$(function(){
    $('#MoreInfo').click(function() {
      var t = get_selection().toString();
      t = t.trim();
      t = t.toLowerCase();
      var l = '{{post.from_lang.code}}' + "\-" + '{{post.to_lang.code}}';
      translate_api_call(t.toString(), l); 
    });
});


function translate_api_call(p_text="error", p_lang="es-en") {
  $.ajax({
        type: "POST",
        url: '{% url "translate"  %}',
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            text: p_text,
            lang: p_lang,
            post_pk: '{{post.id}}'
              },
        success:  function(response){

               var translation_text = "<p> <span class='lead'>Translated Text: </span>" +  response["text"] + "</p>";

               translation_text += '<p>View on the translator for more translations and translators</p>';

               translation_text += "<p class='my-1'><a class='mx-4' target='_blank' href='https://translate.yandex.com/?lang="+p_lang+"&text="+p_text+"'>Yandex (Gives Synomyns + Translations!)</a></p>";
               translation_text += "<p class='my-1'><a class='mx-4' target='_blank' href='https://translate.google.com/?q="+p_text+"&sl={{post.to_lang.code}}+&tl={{post.to_lang}}'>Google Translate</a></p>";




               $("#api-filler").html(translation_text);
               $("#MoreInfo").toggle(false);
               
               
           }
    });
}

function synomyn_api_call(p_text="error", p_lang="error") {
  $.ajax({
        type: "POST",
        url: '{% url "synonyms"  %}',
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            text: p_text,
            lang: p_lang,
            post_pk: '{{post.id}}'
              },
        success:  function(response){

               var synomyn_text = "<p> <span class='lead'>Synomyns: </span>" +  response["words"] + "</p>";

       
               synomyn_text += '<p>View on the translator for more translations and translators</p>';

               synomyn_text += "<p class='my-1'><a class='mx-4' target='_blank' href='https://translate.yandex.com/?lang=" + "{{post.from_lang.code}}" + "\-" + "{{post.to_lang.code}}"+"&text="+p_text+"'>Yandex (Gives Synomyns + Translations!)</a></p>";
               synomyn_text += "<p class='my-1'><a class='mx-4' target='_blank' href='https://translate.google.com/?q="+p_text+"&sl={{post.to_lang.code}}+&tl={{post.to_lang}}'>Google Translate</a></p>"; 
            




               $("#api-filler").html(synomyn_text);
               $("#MoreInfo").toggle(true);
               $('#translateModal').modal('toggle');
               
           }
    });
}
</script>


{% endblock %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
{% endblock%}
