{% extends "posts/post_base.html" %}

{% block post_content %}
<!-- <div class="col-md-8"> -->
    {% include "posts/_post.html" %}
<!-- </div> -->

<script>
function get_selection() {
    var txt = '';
    if (window.getSelection) {
        txt = window.getSelection();
    } else if (document.getSelection) {
        txt = document.getSelection();
    } else if (document.selection) {
        txt = document.selection.createRange().text;
    }

    return txt;
}

$(document).dblclick(function(e) {
    var t = get_selection();
    var l = '{{post.from_lang.code}}' + "\-" + '{{post.to_lang.code}}';

    translate_api_call(t.toString(), l);
});


function translate_api_call(p_text="error", p_lang="es-en") {
  $.ajax({
        type: "POST",
        url: '{% url 'posts:translate' %}',
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            text: p_text,
            lang: p_lang,
              },
        success:  function(response){
               alert(response);
           }
    });
}
</script>


{% endblock %}
