{% extends "posts/post_base.html" %}

{% load bootstrap4 %}

{% block post_content %}

<!-- This makes sure that the slug in the url has a group created by the user
		so that the posts can only be added by the user who made the group    -->
{% if view.get_user_groups %}
<div class="jumbotron">
	<h4>Create New Post</h4>
	<form method="POST" action="{% url 'groups:posts:create' slug=view.kwargs.slug %}" id="postForm">

		{% csrf_token %}
		{% bootstrap_form form %}
		{% buttons %}
			<button type="submit" class="btn btn-primary btn-large">Post</button>
		{% endbuttons %}
		def del_post(request, key):
    		post = Post.objects.get(pk=key)
    		post.delete()
   		return render(request, 'del_done.html')
	</form>
	{% endif %}
</div>
{% endblock %}
